<app-navbar></app-navbar>

<div class="container">
  <h2>Edit Product Name</h2>
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <div class="form-row">
      <input type="text" name="name" placeholder="Product Name" [(ngModel)]="product.name" required />

      <select name="type" [(ngModel)]="product.type" required>
        <option value="" disabled>Select Type</option>
        <option value="vegetable">Vegetable</option>
        <option value="fruit">Fruit</option>
        <option value="others">Others</option>
      </select>

      <input type="text" name="priority" placeholder="Priority (e.g., High, Low)" [(ngModel)]="product.priority" required/>
      <input type="text" name="units" placeholder="Units (e.g., kg, dozen)" [(ngModel)]="product.units" required/>
    </div>

    <input type="text" name="createdAt" [(ngModel)]="product.createdAt" readonly />
    <div class="form-buttons">
      <button type="submit">Save</button>
      <button type="button" (click)="backToProducts()">Back To Products</button>
      <button type="reset">Clear</button>
    </div>
  </form>
</div>
