<app-navbar></app-navbar>
<div class="content">
  <h2>Product Search</h2>

  <div class="search-section">
    <label>Search By</label>
      <select [(ngModel)]="searchBy">
        <option value="name">Product Name</option>
        <option value="type">Type</option>
        <option value="priority">Priority</option>
        <option value="units">Units</option>
      </select>
    <input type="text" (keydown.enter)="onSearch()" [(ngModel)]="searchText" placeholder="Enter search text" />
    <button class="button" (click)="onSearch()">Search</button>
    <button class="button" (click)="backToHome()">Back To Home</button>
  </div>

  <div class="excel-table-container">
    <table class="excel-table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Type</th>
          <th>Priority</th>
          <th>Units</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.name }}</td>
          <td>{{ product.type }}</td>
          <td>{{ product.priority }}</td>
          <td>{{ product.units }}</td>
          <td><button class="action-button edit" (click)="onEdit(product.id)">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
