.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: #3f51b5;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Logo Section */
.logo-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  padding-left: 10px;
}

/* Spacer */
.spacer {
  flex: 1 1 auto;
}

/* Buttons and Links */
a[mat-button],
button[mat-button] {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
}

a[mat-button]:hover {
  transform: scale(1.05);

}

button[mat-button]:hover {
  transform: scale(1.05);
}

/* Wrapper for dropdown + icon */
.menu-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 6px;
  flex-shrink: 0;
}

/* Arrow all the way to the right */
.dropdown-icon {
  margin-left: auto;
  font-size: 20px;
  pointer-events: none;
  color: white;
}

/* Mat Menu Items */
mat-menu {
  display: block;
}

mat-menu .mat-menu-item {
  cursor: pointer;
}

/* Logout Button */
.logout-button {
  color: rgb(0, 0, 0);
  background-color: #d02e2e;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 4px;
  
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d02e2e;
  color: white;
  transform: scale(1.05);
}
