<app-navbar></app-navbar>
<div class="content">
  <h2>Product Search</h2>

  <div class="search-section">
    <label>Search By</label>
    <select [(ngModel)]="searchBy">
      <option value="vegName">Veg Name</option>
      <option value="topPriority">Top Priority</option>
      <option value="units">Units</option>
      <option value="itemType">Item Type</option>
    </select>
    <input type="text" [(ngModel)]="searchText" placeholder="Enter search text" />
    <button class="button" (click)="onSearch()">Search</button>
    <button class="button" (click)="backToHome()">Back To Home</button>
  </div>

  <div class="excel-table-container">
    <table class="excel-table">
      <thead>
        <tr>
          <th>Veg Name</th>
          <th>Top Priority</th>
          <th>Units</th>
          <th>Item Type</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.vegName }}</td>
          <td>{{ product.topPriority }}</td>
          <td>{{ product.units }}</td>
          <td>{{ product.itemType }}</td>
          <td><button (click)="onEdit(product.id)">Edit</button></td>
          <td><button (click)="onDelete(product.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
