<mat-toolbar color="primary" class="navbar">
  <div class="logo-wrapper">
    <img src="assets/logo2.jpg" alt="Logo" class="logo-img" />
  </div>
  <a mat-button routerLink="/dashboard">Home</a>
  
  <mat-menu #merchantsMenu="matMenu">
    <button mat-menu-item routerLink="/dashboard">Merchants Overview</button>
    <button mat-menu-item routerLink="/add-merchants">Add Merchants</button>
  </mat-menu>

  <div class="menu-wrapper">
    <button mat-button [matMenuTriggerFor]="merchantsMenu">
      Merchants
    </button>
    <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
  </div>

  <mat-menu #productsMenu="matMenu">
    <button mat-menu-item routerLink="/products">Products</button>
    <button mat-menu-item routerLink="/add-products">Add products</button>
  </mat-menu>

  <div class="menu-wrapper">
    <button mat-button [matMenuTriggerFor]="productsMenu">
      Products
    </button>
    <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
  </div>

  <a mat-button routerLink="/products">Products</a>
  <a mat-button routerLink="/bills">Bills</a>
  <!-- <a mat-button routerLink="/adb">Add Detailed Bill</a>
  <a mat-button routerLink="/alb">Add LumpSum Bill</a>
  <a mat-button routerLink="/profile">Vendors</a> -->
  <a mat-button routerLink="/reports">Reports</a>
  <a mat-button routerLink="/barcode">Barcode</a>

  <span class="spacer"></span>

  <button mat-button (click)="logout()" class="logout-button">Logout</button>
</mat-toolbar>
